.channel-index {
  background-color: #2f3136;
  display: grid;
  grid-template-rows: 3em 1fr 3em;

  .server-info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 1px #04040533;
    width: 15em;

    .server-name {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      h2 {
        white-space: nowrap;
        overflow: hidden;
        margin-left: 1em;
        width: 75%;
        text-overflow: ellipsis;
      }

      i {
        margin-left: 1em;
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 3.5em;
    left: 6em;
    z-index: 1;
    background-color: #18191c;
    border-radius: 3px;
    width: 13em;
    
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 10px;

      li {
        display: flex;
        align-content: center;
        justify-content: space-between;
        border-radius: 3px;
        padding: 5px 10px;
        color: #d2d4d6;
        padding: 5px 5px;
        margin: 5px 0;
      }

      li:hover {
        background-color: #4e5d94;
        color: #d2d4d6;
        cursor: pointer;
      }

      .invite-li {
        color: #677bc4;
      }

      .leave-li {
        color: rgb(209, 85, 73);;
      }

      .delete-li {
        color: rgb(219, 18, 0);
      }
    }
  }
  .user-box {
    background-color: #292b2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;

    .user-info {
      display: flex;
      align-items: center;
    }

    .user-options {
      display: flex;
      align-items: center;

      i {
        cursor: pointer;
      }
    }

    h3 {
      color: white;
      font-size: 0.8em;
      font-weight: bold;
      overflow-x: hidden;
      line-height: 1.5;
    }

    i {
      padding: 0.5em;
      border-radius: 5px;
      color: white;
    }

    i:hover {
      background-color: #34383d;
    }
  }
}

.channels-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.channel {
  width: 95%;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 5px;
  padding-right: 15px;
  margin-bottom: 5px;

  .channel-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    .text-indicator {
      font-size: 24px;
      color: #8e9297;
      margin-right: 10px;
    }

    p {
      color: #8e9297;
      font-size: 16px;
    }
  }

  .channel-options {
    i {
      color: #2f3136;
    }
  }
}

.channel:hover {
  background-color: #393d4293;
  cursor: pointer;
}

.channel:hover > .channel-name > p {
  color: white;
}

.channel:hover > .channel-options > i {
  color: #8e9297;
}

.channel-options:hover > i {
  color: white !important;
}

.selected-channel {
  background-color: #393d42 !important;
}

.selected-channel .channel-name p {
  color: white !important;
}

.selected-channel .channel-options i {
  color: #393c42;
}
