.home-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 5em 15em 1fr;
}

.server-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 5em 15em 1fr 15em;
}