.friends-index {
  display: grid;
  background-color: #36393f;
  grid-template-rows: 3em 1fr;

  .friends-header {
    box-shadow: 0 1px rgba(4, 4, 5, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1em;

    i {
      color: #72767d;
      font-size: 1.25em;
      margin-right: 10px;
    }

    .friends-header-title {
      color: white;
      font-size: 1.1em;
      font-weight: 700;
      margin-right: 1em;
    }

    .divider {
      width: 1px;
      height: 50%;
      background-color: hsla(0, 0%, 100%, 0.06);
      margin-right: 1em;
    }

    .friends-view {
      margin-right: 1.5em;
      color: #b9bbbe;
      padding: 6px;
      border-radius: 5px;
    }

    .friends-view:hover {
      cursor: pointer;
      color: #dcddde;
      background-color: rgba(79, 84, 92, 0.36);
    }
  }

  .friends-container {
  }
}
