.friends-index {
  display: grid;
  background-color: #36393f;
  grid-template-rows: 3em 1fr;

  .friends-header {
    box-shadow: 0 1px rgba(4, 4, 5, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1em;

    i {
      color: #72767d;
      font-size: 1.25em;
      margin-right: 10px;
    }

    .friends-header-title {
      color: white;
      font-size: 1.1em;
      font-weight: 700;
      margin-right: 1em;
    }

    .divider {
      width: 1px;
      height: 50%;
      background-color: hsla(0, 0%, 100%, 0.06);
      margin-right: 1em;
    }

    .friends-view {
      margin-right: 1.5em;
      color: #b9bbbe;
      padding: 6px;
      border-radius: 5px;
    }

    .friends-view:hover {
      cursor: pointer;
      color: #dcddde;
      background-color: rgba(79, 84, 92, 0.36);
    }
  }

  .selected-friend-view {
    background-color: rgba(79, 84, 92, 0.32) !important;
    color: white !important;
  }

  .friends-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3em - 20px);
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    // gap: 1em;

    .friends-list-info {
      width: 95%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      p {
        font-size: 12px;
        font-weight: 700;
        color: #b9bbbe;
      }
    }
  }
}

.friend-pfp {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: lightgray;
  margin-right: 10px;
}

.friend-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  padding: 1em 10px;
  border-top: solid 1px hsla(0, 0%, 100%, 0.06);

  .friend-name {
    color: white;
    font-weight: 700;
  }
}

.request-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 1em 10px;
  border-top: solid 1px hsla(0, 0%, 100%, 0.06);

  .request-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .request-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      .request-name {
        color: white;
        font-weight: 700;
      }

      .request-direction {
        color: #b9bbbe;
        font-weight: 400;
        font-size: 12px;
      }
    }
  }

  .request-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.friend-item:hover {
  background-color: rgba(79, 84, 92, 0.16);
}

.request-item:hover {
  background-color: rgba(79, 84, 92, 0.16);
}

.friend-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 2.5em;
  height: 2.5em;
  background-color: #2f3136;
  border-radius: 50%;
  color: #b9bbbe;
  margin-right: 1em;
  cursor: pointer;
}

#accept-request:hover {
  color: #3aa55d;
}

#deny-request:hover {
  color: #ed4245;
}