.group-index {
    background-color: #2f3136;
    display: grid;
    grid-template-rows: 3em 1fr 3em;

    .server-info {
        padding: 1em;
        color: white;
        display: flex;
        box-shadow: 0 1px rgba(4, 4, 5, 0.2);
        // position: absolute;
    }

    .user-box {
        background-color: #292b2f;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;

        .user-info {
            display: flex;
            align-items: center;
        }

        .user-pfp {
            width: 2em;
            height: 2em;
            background-color: lightgray;
            border-radius: 50%;
            margin-right: 0.5em;
        }

        .user-options {
            display:flex;
            align-items: center;
        }

        h3 {
            color: white;
            font-size: 0.8em;
            font-weight: bold;
            overflow-x: hidden;
            line-height: 1.5;
        }

        i {
            padding: 0.5em;
            border-radius: 5px;
            color: white;
        }

        i:hover {
            background-color: #34383d;
        }
    }
}