.group-index {
    background-color: #2f3136;
    display: grid;
    grid-template-rows: 3em 1fr 3em;

    .server-info {
        padding: 1em;
        color: white;
        display: flex;
        box-shadow: 0 1px rgba(4, 4, 5, 0.2);
        display: block;

        .server-name {
            display: flex;
            justify-content: space-between;
        }

        .dropdown {
            // display: none;
            position: relative;
            top: 150%;
            z-index: 1;
            background-color: #18191c;
            border-radius: 3px;
            // height: 5em;
            width: 11em;
            padding: 10px 10px;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;

                li {
                    display: flex;
                    align-content: center;
                    justify-content: space-between;
                    border-radius: 3px;
                    padding: 5px 10px;
                    color: #d2d4d6;
                    padding: 2px 0;
                    margin: 5px 0;
                }

                li:hover {
                    background-color: #4e5d94;
                    color: #d2d4d6;
                    cursor: pointer;
                }

                .invite-li {
                    color: #677bc4
                }

                .delete-li {
                    color: rgb(219, 18, 0);
                }
            }
        }
    }

    .user-box {
        background-color: #292b2f;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;

        .user-info {
            display: flex;
            align-items: center;
        }

        .user-pfp {
            width: 2em;
            height: 2em;
            background-color: lightgray;
            border-radius: 50%;
            margin-right: 0.5em;
        }

        .user-options {
            display:flex;
            align-items: center;
        }

        h3 {
            color: white;
            font-size: 0.8em;
            font-weight: bold;
            overflow-x: hidden;
            line-height: 1.5;
        }

        i {
            padding: 0.5em;
            border-radius: 5px;
            color: white;
        }

        i:hover {
            background-color: #34383d;
        }
    }
}