.message-index {
    display: grid;
    background-color: #36393f;
    grid-template-rows: 3em 1fr 5em;

    .message-header {
        box-shadow: 0 1px rgba(4, 4, 5, 0.2);
    }

    .message-area {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 1em;
        padding-bottom: 1.4em;

        #message-content {
            display: flex;
            font-size: 1em;
            color: #dcddde;
            border-radius: 5px;
            width: 98%;
            border: none;
            background-color: #40444b;
            font-weight: 200;
            padding: 10px 1em;
            resize: none;
        }

        #message-content:focus {
            outline: none;
        }
    }
}

.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.message-item {
    display: flex;
    width: 100%;
    padding: 0px 1em;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;

    .message-pfp {
        background-color: #d3d3d3;
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        margin-right: 10px;
    }

    .message-details {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .message-info {
            p {
                font-weight: 500;
                color: #bdbebe;
            }
        }
    
        .message-content {
            p {
                font-weight: 300;
                color: #dcddde;
                cursor: default;
            }
        }
    }
}