.message-index {
    display: grid;
    background-color: #36393f;
    grid-template-rows: 3em 1fr 5em;

    .message-header {
        box-shadow: 0 1px rgba(4, 4, 5, 0.2);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1em;

        h1 {
            color: #72767d;
            font-size: 1.75em;
            font-weight: 300;
            margin-right: 5px;
        }

        p {
            color: #dcddde;
            font-size: 1em;
            font-weight: 700;
        }
    }

    .message-form {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 1em;
        padding-bottom: 1.4em;

        #message-content {
            display: flex;
            font-size: 1em;
            color: #dcddde;
            border-radius: 5px;
            width: 98%;
            border: none;
            background-color: #40444b;
            font-weight: 200;
            padding: 10px 1em;
            resize: none;
        }

        #message-content:focus {
            outline: none;
        }
    }
}

.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    height: calc(100vh - 8em);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-item {
    display: flex;
    width: calc(100% - 3em);
    padding: 10px 1em;
    padding-right: 2em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;

    .message-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .message-pfp {
            // background-color: #d3d3d3;
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
            margin-right: 10px;
        }
    
        .message-details {
            display: flex;
            flex-direction: column;
            gap: 8px;
    
            .message-author {
                p {
                    font-weight: 500;
                    color: #bdbebe;
                }
            }
        
            .message-content {
                p {
                    font-weight: 300;
                    color: #dcddde;
                }
            }
        }
    }

    .message-options {
        display: flex;
        align-items: center;

        i {
            color: #36393f;
        }
    }
}

.message-item:hover {
    background-color: #32353b;
}

.message-item:hover > .message-options > i {
    color: #8e9297;
}

.message-options:hover > i {
    color: white !important;
    cursor: pointer !important;
}