.server-index {
  background-color: #202225;
  grid-column-start: 1;
  grid-column-end: 2;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: auto;
  padding-top: 1em;

  a {
    text-decoration: none;
  }
}

.server-index::-webkit-scrollbar {
  display: none;
}

.server-index-item {
  width: 3.5em;
  height: 3.5em;
  margin: 0 auto;
  margin-bottom: 0.5em;
  background-color: #36393f;
  border-radius: 50%;
  transition: border-radius 0.25s;
  display: flex;
  cursor: pointer;

  h2 {
    margin: auto;
    color: white;
  }
}

.server-index-item:hover {
  border-radius: 15px;
}

.selected-server {
  outline: 1px solid lightgray;
}

.extra-server-index-item {
  width: 3.5em;
  height: 3.5em;
  margin: 0 auto;
  margin-bottom: 0.5em;
  background-color: #36393f;
  border-radius: 50%;
  transition: border-radius 0.25s;
  display: flex;
  font-size: 1em;
  cursor: pointer;

  p {
    margin: auto;
    color: #43b581;
    font-size: 25pt;
    font-weight: 300;
  }

  i {
    margin: auto;
    color: #43b581;
    font-size: 13pt;
  }
}

.extra-server-index-item:hover {
  border-radius: 15px;
  background-color: #43b581;
  p {
    color: white;
  }
  i {
    color: white;
  }
}

.server-modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.server-modal {
  background-color: #36393f;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 450px;

  #close {
    float: right;
    margin: 15px 15px 10px 0;
    font-size: 20px;
    color: lightgray;
    cursor: pointer;
  }
}

.server-modal-footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #41444b;
  width: 450px;
}

.prompt-info {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 3.2em;

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    font-weight: 200;
    margin-bottom: 20px;
  }

  .server-modal-button {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 2em;
    cursor: pointer;

    div {
      display: flex;
      font-weight: bold;

      i {
        padding: 0 1em 0 0.5em;
      }
    }
  }

  .server-modal-button:hover {
    background-color: #3b3f46;
  }
}

.prompt-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  input {
    width: 90%;
    background-color: #747f8d;
    border: none;
    padding: 7px;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  input:hover {
    background-color: #68727f;
  }
}

.create-info {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 3.2em;

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    font-weight: 200;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 2em;
    width: 90%;
    border-radius: 5px;
    border: 1px solid rgba(91, 96, 105, 0.3);
    background-color: inherit;
    padding: 1em 0.5em;
    font-weight: 200;
    font-size: 1em;
    color: white;
  }

  input:focus {
    outline: none;
  }
}

.create-footer {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: white;
    cursor: pointer;
  }
}

.createButton {
  background-color: #7289da;
  border: none;
  padding: 7px;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  cursor: pointer;
  padding: 10px 30px;
  font-weight: bold;
}

.createButton:hover {
  background-color: #677bc4;
}

.join-info {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 3.2em;

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    font-weight: 200;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid rgba(91, 96, 105, 0.3);
    background-color: inherit;
    padding: 1em 0.5em;
    font-weight: 200;
    font-size: 1em;
    color: white;
  }

  span {
    margin-bottom: 2em;
  }

  input:focus {
    outline: none;
  }
}

.join-footer {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: white;
    cursor: pointer;
  }

  input {
    background-color: #7289da;
    border: none;
    padding: 7px;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    padding: 10px 30px;
    font-weight: bold;
  }

  input:hover {
    background-color: #677bc4;
  }
}

.invite-info {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 3.2em;

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    font-weight: 200;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
  }

  input {
    margin-bottom: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid rgba(91, 96, 105, 0.3);
    background-color: inherit;
    padding: 1em 0.5em;
    font-weight: 200;
    font-size: 1em;
    color: white;
    margin-bottom: 2em;
  }

  input:focus {
    outline: none;
  }
}

.channel-info {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 3.2em;

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    font-weight: 200;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
  }

  input {
    margin-bottom: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid rgba(91, 96, 105, 0.3);
    background-color: inherit;
    padding: 1em 0.5em;
    font-weight: 200;
    font-size: 1em;
    color: white;
    margin-bottom: 2em;
  }

  input:focus {
    outline: none;
  }
}

.invite-footer {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: white;
    cursor: pointer;
  }
}

.channel-footer {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: white;
    cursor: pointer;
  }
}
