.server-index {
    background-color: #202225;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: auto;
    padding-top: 1em;
}

.server-index::-webkit-scrollbar {
  display: none;
}

.server-index-item {
    width: 3.5em;
    height: 3.5em;
    margin: 0 auto;
    margin-bottom: 0.5em;
    background-color: #36393f;
    border-radius: 50%;
    transition: border-radius 0.25s;
    display: flex;

    h2 {
        margin: auto;
        color: white;
    }
}

.server-index-item:hover {
    border-radius: 15px;
}

.add-server-index-item {
    width: 3.5em;
    height: 3.5em;
    margin: 0 auto;
    margin-bottom: 0.5em;
    background-color: #36393f;
    border-radius: 50%;
    transition: border-radius 0.25s;
    display: flex;
    font-size: 1em;

    p {
        margin: auto;
        color: #43b581;
        font-size: 25pt;
        font-weight: 300;
    }
}

.add-server-index-item:hover {
    border-radius: 15px;
    background-color: #43b581;
    p {
        color: white;
    }
}

.server-modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.server-modal {
    background-color: #36393f;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 450px;

    #close {
        float: right;
        margin: 20px 20px 10px 0;
        font-size: 20px;
        color: lightgray;
        cursor: pointer;
    }
}

.server-modal-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #41444b;
    width: 450px;
}

.prompt-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
        font-size: 25px;
        margin-top: 35px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    p {
        font-weight: 200;
        margin-bottom: 20px;
    }

    .server-modal-button {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid rgba(255,255,255,0.1);
        margin-bottom: 15px;
        cursor: pointer;
    }

}

.prompt-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    input {
        width: 90%;
        background-color: #747f8d;
        border: none;
        padding: 7px;
        border-radius: 3px;
        color: white;
        font-size: 13px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    input:hover {
        background-color: #68727f;
    }

}