.session-container {
    background-color: #2f3136;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.session-form {
    box-shadow: -1px -1px 8px 0 #2c2d32;
    width: 30em;
    background-color: #36393f;
    border-radius: 5px;
    padding: 25px;

    label {
        color: #8d9196;
        font-size: 0.75em;
        font-weight: bold;
    }

    input[type=text], input[type=password] {
        display: block;
        margin-top: 10px;
        margin-bottom: 1em;
        width: 97%;
        height: 2.5em;
        background-color: #313339;
        border: 1px solid #26272c;
        transition: border-color 0.5s;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 1em;
        color: #dcddde;
    }
    
    input[type=text]:hover, input[type=password]:hover {
        border-color: black;
    }
    
    input[type=text]:focus, input[type=password]:focus {
        outline: none;
        transition: border-color 0s;
        border-color: #5a69a0;
    }
    
    input[type=submit],
    input[type=button] {
        width: 100%;
        text-align: center;
        height: 3em;
        border-radius: 5px;
        border: none;
        background-color: #7289da;
        transition: background-color 0.25s;
        color: white;
        font-size: 1em;
        font-weight: bold;
        margin-top: 2em;
        margin-bottom: 5px;
        cursor: pointer;
    }

    input[type=submit]:hover
    input[type=button]:hover {
        background-color: #677bc4;
    }

    span {
        color: #6c7076;
        font-size: 1em;
        font-weight: 300;
        margin-right: 5px;
        cursor: default;
    }

    a {
        text-decoration: none;
        color: #6f86d4;
        cursor: pointer;
    }

    h2 {
        text-align: center;
        color: white;
        font-size: 1.5em;
        padding: 1.5em;
        cursor: default;
    }

    .error {
        color: #f04747;
        z-index: 2;
        display: inline-block;
    }

    .errorBox {
        height: 1em;
    }
}