.user-index {
  display: grid;
  background-color: #2f3136;
  grid-template-rows: 3em 1fr;

  .user-header {
    box-shadow: 0 1px rgba(4, 4, 5, 0.2);
    background-color: #36393f;
    display: flex;
    position: relative;
    width: 15em;

    .personal-links {
      position: relative;
      right: 50px;
      gap: 0;

      a {
        margin-left: 1em;
      }
    }
  }

  .users-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .group-add-button {
      margin: 1em 0;
      width: 80%;
      height: 3em;
      border-radius: 5px;
      background-color: #36393f;
      text-align: center;
      padding: auto 0;
      cursor: pointer;

      .add-button-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        p {
          color: white;
        }
      }
    }

    .friend-list {
      width: 16em;
      height: 12em;
      border-radius: 5px;
      background-color: #2f3136;
      box-shadow: 1px 1px 2px #2b2d33;
      position: absolute;
      top: 4em;
      right: 16em;
      z-index: 2;
      cursor: default;
      display: flex;
      align-items: center;
      justify-content: center;

      .inner-list {
        width: 96%;
        height: 92%;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll;
        text-align: center;

        .friend-list-item {
          margin-bottom: 5px;
          min-height: 3em;
          width: 100%;
          background-color: #33363c;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .friend-item-info {
            display: flex;
            align-items: center;
            margin: 0 10px;

            .friend-item-pfp {
              height: 1.5em;
              width: 1.5em;
              border-radius: 50%;
              background-color: lightgray;
            }

            p {
              margin-left: 10px;
              color: #bdbebe;
            }
          }

          .add-group-button {
            margin: 0 20px;
            color: #8e9297;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }

          .add-group-button:hover {
            color: white;
          }
        }

        .no-items-text {
          color: white;
          margin-top: 10px;
        }
      }
    }
  }
}

.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: calc(93.5% - 1em);

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .user-pfp {
      height: 2em;
      width: 2em;
      margin-right: 10px;
      border-radius: 50%;
    }

    h1 {
      color: white;
    }
  }

  .user-actions {
    i {
      color: #8e9297;
      cursor: pointer;
    }
  }
}

.user-container:hover {
  background-color: #33363c;
}

.user-actions:hover i {
    color: white;
}

.hidden {
  display: none !important;
}
