.user-index {
    display: grid;
    background-color: #2f3136;
    grid-template-rows: 3em 1fr;

    .user-header {
        box-shadow: 0 1px rgba(4, 4, 5, 0.2);
        background-color: #36393f;
    }

    .users-container {
        display: flex;
        flex-direction: column;
    }
}

.user-container {
    display: flex;
    justify-content: flex-start;
    // margin: 15px 1em;
    padding: 1em;
    border-radius: 3px;

    div {

    }

    h1 {
        color: white;
    }
}

.user-container:hover {

    background-color: #33363c;
}